NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBnrUdcZ6TI0B-1RXl_DyzJxoYnqsdSrVw
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=capacitaciones-api.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=capacitaciones-api
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=capacitaciones-api.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=773311942081
NEXT_PUBLIC_FIREBASE_APP_ID=1:773311942081:web:efde93ebe2e5e08346f340
